---
# .. vim: foldmarker=[[[,]]]:foldmethod=marker

# Copyright (C) 2021-2022 Zaharia Constantin <constantin.zaharia@progeek.ro>
# Copyright (C) 2021-2022 ProGeek <https://progeek.ro>
# SPDX-License-Identifier: GPL-3.0-or-later

# Enable or disable support for hddtemp service
hddtemp__enabled: True

# List of APT packages that are default to this role
hddtemp__packages_default:
  - hddtemp

# List user specified of APT packages to install on this role
hddtemp__packages_extra: []

# Final list of APK packages that will be installed on this role
hddtemp_packages: '{{ q("flattened", hddtemp__packages_default + hddtemp__packages_extra) }}'

# hddtemp network daemon switch. If set to true, hddtemp will listen
# for incoming connections.
hddtemp__run_daemon: no

# List of devices you want to use with hddtemp. If none specified,
# hddtemp will probe standard devices.
hddtemp__disks: no

# List of devices you want to use with hddtemp, but that would not be
# probed for a working sensor.
hddtemp__disks_noprobe: ""

# Define how many disks devices can be monitored per instance of hddtemp
# hddtemp can only handle a few devices due to number of parameters needed
# to pass.
hddtemp__num_devices: 4

# IP address of the interface on which you want hddtemp to be bound
# on. If none specified, goes to 127.0.0.1. Use 0.0.0.0 to bind hddtemp
# on all interfaces.
hddtemp__interface: "127.0.0.1"

# Define default base hddtemp port to listen on (listens on localhost).
# The base number is incremented by one for every "hddtemp_num_devices"
# number of devices. If none specified, the port 7634 is used.
hddtemp__port: 7634

# Database file to use. If none specified, /etc/hddtemp.db is used.
hddtemp__database: no

# Separator to use between fields. The default separator is '|'.
hddtemp__separator: "|"

# Logging period (in seconds) for the temperatures. If set to a value
# different than 0, hddtemp will run as a daemon periodically logging
# the temperatures through syslog
hddtemp__run_syslog: "0"

# Other options to pass to hddtemp
hddtemp__options: ""

# hddtemp__manual_entries - manually add entries for which hddtemp cannot discover.
#  $ sudo hddtemp /dev/sda
#  If it shows: WARNING: Drive /dev/sda doesn't seem to have a temperature sensor.
#               /dev/sda: Samsung SSD 840 Series:  no sensor

#  This can help discover the device data field number for temperature:
#  $ sudo smartctl -a /dev/sda | grep -i temp

#  Finds: 190 Airflow_Temperature_Cel 0x0032   077   060   000    Old_age   Always       -       23

# Field 1: Use a string or regex matching the drive's display name (as reported by hddtemp output)
# Field 2: SMART data field number (190 for Samsung 840 and 860 models)
# Field 3: Drive reports temperature in unit (C or F)
# Field 4: Label string or comment you define
hddtemp__manual_entries:
  - '"Samsung SSD (840|860)" 190 C "Temp for Samsung SSDs"'

# This will adjust HDDTemp to display temperature values in F or C.
# It will also enable F to C conversions for temperatures pulled directly 
# from smartctl (such as for NVMe devices)
hddtemp__display_temp_unit: "C"